@use "../scss/fonts";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    transition-duration: 0.8s;
    padding: 0;
    margin: 0;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}
// 공통
.width {
    max-width: 1600px;
    margin: 0 auto;
}


.section {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 32px;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center; 
    &:nth-child(1) { 
        background: url(/img/main_banner.png) center/cover no-repeat;
        
        .main1 {
            max-width: 900px;
            display: flex;
            align-items: center;
            justify-content: center;
            animation-duration: 3s; 
            animation-delay: 1.2s;
            
            img {
                width: 100%;
                display: block; /* inline 요소 특성 제거 */
            }
        }
    } 
}// 홈,메인
.section {
    &:nth-child(2) { background-color: #ffffff; 
        display: flex;
        
        .greetings {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 100px;
            &-img {
                max-width: 540px;
                margin-top: -30px;
                img {
                    object-fit: cover;
                }
            }
            .divider {
                width: 2px;        /* 길이 */
                height: 700px;         /* 두께 */
                background-color: #E1E1E1; /* 색상 */
                margin: 20px 0;      /* 위아래 여백 (선택 사항) */
            }
            &-text {
                margin-top: 10px;
                position: relative;
                max-width: 540px;
                width: 100%;
                background: #F6F6F6;
                font-family: "국립박물관", sans-serif ;
                font-weight: 300;
                font-size: 16px;
                color: #666666;
                line-height: 1.7rem;
                letter-spacing: -1px;
                padding-bottom: 40px;
                p {
                    text-align: justify;
                    padding-top: 20px;
                }
                .imgbox {
                    max-width: 158px;
                    margin-top: 50px;
                    margin-left: auto;
                    img {
                        display: block;
                    }
                }
                p, .imgbox {
                    animation-duration: 4s; 
                    animation-delay: 4s;
                }

                .greetings-stamp {
                    position: absolute;
                    top: -100px;
                    right: -130px;
                    
                }
            }

        }

    }
 } // 인사말
 .section {
    &:nth-child(3) { 
        background: url(/img/art_bg.png) no-repeat center/cover;
    .art1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .art1_img {
            animation-duration: 7s; 
            animation-delay: 6s;
        img {
            max-width: 770px;
            height: 1000px;
            }
        }
        &_txt{
            position: relative;
            max-width: 808px;
            width: 100%;
            height: 418px;
            padding-top: 70px;
            padding-bottom: 80px;
            padding-left: 30px;
            background: #fff;
            padding-right: 60px;
            color: #666666;

            span {
                font-family: "Cafe24Behappy", sans-serif ;
                text-align: left;
                display: block;
                margin-bottom: 20px;
                border-bottom: 2px solid #666666;
                width: 67px;
            }
            h1 {
                font-family: "국립박물관", sans-serif ;
                font-weight: 500;
                font-size: 50px;
                text-align: left;
                margin-bottom: 20px;
                margin-top: 60px;
                line-height: 1.4em;
                
            }
            h5 {
                font-family: "국립박물관", sans-serif ;
                font-weight: 300;
                font-size: 20px;
                text-align: right;
                margin-bottom: 100px;
                line-height: 1.4em;
            }
            p{
                font-family: 'D2Coding', sans-serif;
                font-weight: 400;
                font-size: 20px;
                text-align: left;
                line-height: 1.6em;
            }
        }
        }
    
    }
 } // 전시1/나무
 .section {   
 &:nth-child(4) {background: url(/img/art_bg.png) no-repeat center/cover;
        .art2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .art2_img {
                animation-duration: 7s; 
                animation-delay: 13s;
            img {
                max-width: 770px;
                height: 1000px;
                }
            }
            &_txt{
                position: relative;
                max-width: 808px;
                width: 100%;
                height: 418px;
                padding-top: 70px;
                padding-bottom: 170px;
                padding-left: 30px;
                background: #fff;
                padding-right: 60px;
                color: #666666;
    
                span {
                    font-family: "Cafe24Behappy", sans-serif ;
                    text-align: left;
                    display: block;
                    margin-bottom: 20px;
                    border-bottom: 2px solid #666666;
                    width: 74px;
                }
                h1 {
                    font-family: "국립박물관", sans-serif ;
                    font-weight: 500;
                    font-size: 50px;
                    text-align: left;
                    margin-bottom: 20px;
                    margin-top: 60px;
                    line-height: 1.4em;
                    
                }
                h5 {
                    font-family: "국립박물관", sans-serif ;
                    font-weight: 300;
                    font-size: 20px;
                    text-align: right;
                    margin-bottom: 100px;
                    line-height: 1.4em;
                }
                p{
                    font-family: 'D2Coding', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    text-align: left;
                    line-height: 1.6em;
                }
            }
            }
    } 
}// 전시2/백일홍
.section {
&:nth-child(5) {background: url(/img/art_bg.png) no-repeat center/cover;
        .art3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .art3_img {
                animation-duration: 7s; 
                animation-delay: 20s;
            img {
                max-width: 770px;
                height: 1000px;
                }
            }
            &_txt{
                position: relative;
                max-width: 808px;
                width: 100%;
                height: 418px;
                padding-top: 70px;
                padding-bottom: 170px;
                padding-left: 30px;
                background: #fff;
                padding-right: 60px;
                color: #666666;
    
                span {
                    font-family: "Cafe24Behappy", sans-serif ;
                    text-align: left;
                    display: block;
                    margin-bottom: 20px;
                    border-bottom: 2px solid #666666;
                    width: 74px;
                }
                h1 {
                    font-family: "국립박물관", sans-serif ;
                    font-weight: 500;
                    font-size: 50px;
                    text-align: left;
                    margin-bottom: 20px;
                    margin-top: 60px;
                    line-height: 1.4em;
                    
                }
                h5 {
                    font-family: "국립박물관", sans-serif ;
                    font-weight: 300;
                    font-size: 20px;
                    text-align: right;
                    margin-bottom: 100px;
                    line-height: 1.4em;
                }
                p{
                    font-family: 'D2Coding', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    text-align: left;
                    line-height: 1.6em;
                }
            }
            }
    
    } 
}// 전시3/작약
.section {    
&:nth-child(6) { background-color: #E5E5EF;
    .other {
        padding-top: 40px;
    &_art{
    ul {
        width: 100%;
        justify-content: center;
        display: flex;
        gap: 20px;

        li:first-child { 
            margin-top: -100px;
        }
    }
    li {
        list-style: none;
    }
    
    }

    &_txt {
    .txt {
        margin-top: 50px;
        font-family: "국립박물관", sans-serif ;
        font-weight: 300;
        font-size: 24px;
        line-height: 1.5em;
        color: #666666;
    }
    .txtname {
        font-family: "국립박물관", sans-serif ;
        font-weight: 300;
        font-size: 24px;
        line-height: 1.5em;
        color: #666666;
        text-align: right;
    }
    .txtend {
        img {
            margin-top: 80px;
            
        }
    }

    } 
    }
 } 
}// 마무리 인사
.section {  
    &:nth-child(7) { background: url(/img/review_bg.png)no-repeat center/cover;
        position: relative;
        h1 {
            position: absolute;
            top: 0;
            left: 855px;
            font-size: 48px;
            font-family: "국립박물관", sans-serif ;
            font-weight: 500;
            text-shadow: 3px 4px 5px #a3a3a3;
            color: #666666;
            letter-spacing: 3px;
        }
        .reviewbox {
            width: 100%;
            .review-text {
                width: 100%;
                margin-bottom: 50px;
                display: flex;
                align-items: center;
                gap: 20px;
                p {
                    width: 100%;
                    font-family: 'D2Coding', sans-serif;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 1.5rem;
                    color: #666666;
                    text-decoration: underline solid;
                    text-underline-position: under;
                    text-underline-offset: 10px;
                    text-decoration-color: #666666;
                }

                img {
                    width: 94px;
                    height: 94px;
                    margin: 0 10px;
                }
            }
        
        }       
    }
}// 리뷰

.section {  
    &:nth-child(8) { background-color: #ffffff; 
    .interview {
        .interview_box{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: 40px;

            .interview_txt{
                width: 720px;
                height: 640px;
                padding: 50px;
                background: #f8f7f7;
                text-align: left;

                .subject {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 20px;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    h5 {
                        font-family: 'D2Coding', sans-serif;
                        font-weight: 700;
                        font-size: 23px;
                        color: #666666;
                        line-height: 1.4rem;
                        margin-top: 10px;
                    }
                    }

                p {
                    font-family: "Noto Sans KR", serif;
                    font-weight: 400;
                    font-size: 17px;
                    margin-bottom: 30px;
                    line-height: 1.5rem;
                    color: #666666;
                }
            }

        }
    }
    } 
}// 인터뷰

.section {  
    &:nth-child(9) { background-color: #ffc2f5; } 
}// 분홍 계열

.section {  
    &:nth-child(10) {background-color: #00c3ff; } 
}// 하늘 계열

.section {  
    &:nth-child(11) { background-color: #690000; } 
}// 와인 계열
    