@import "../scss/fonts";
* {
    transition-duration: 0.8s;
    padding: 0;
    margin: 0;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}
// 공통
.width {
    max-width: 1600px;
    margin: 0 auto;
}


.section {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 32px;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: center; 
    &:nth-child(1) { 
        background: url(/img/main_banner.png) center/cover no-repeat;
        
        .main1 {
            max-width: 900px;
            display: flex;
            align-items: center;
            justify-content: center;
            animation-duration: 3s; 
            animation-delay: 1.2s;
            
            img {
                width: 100%;
                display: block; /* inline 요소 특성 제거 */
            }
        }
    } // 빨간 계열
    &:nth-child(2) { background-color: #ffffff; 
        display: flex;
        
        .greetings {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 100px;
            &-img {
                max-width: 540px;
                margin-top: -30px;
                img {
                    object-fit: cover;
                }
            }
            .divider {
                width: 2px;        /* 길이 */
                height: 700px;         /* 두께 */
                background-color: #E1E1E1; /* 색상 */
                margin: 20px 0;      /* 위아래 여백 (선택 사항) */
            }
            &-text {
                margin-top: 10px;
                position: relative;
                max-width: 540px;
                width: 100%;
                background: #F6F6F6;
                font-family: "국립박물관", sans-serif ;
                font-weight: 300;
                font-size: 16px;
                color: #666666;
                line-height: 1.7rem;
                letter-spacing: -1px;
                padding-bottom: 40px;
                p {
                    text-align: justify;
                    padding-top: 20px;
                }
                .imgbox {
                    max-width: 158px;
                    margin-top: 50px;
                    margin-left: auto;
                    img {
                        display: block;
                    }
                }
                p, .imgbox {
                    animation-duration: 3s; 
                    animation-delay: 3s;
                }

                .greetings-stamp {
                    position: absolute;
                    top: -100px;
                    right: -130px;
                    
                }
            }

        }

    } // 주황 계열
    &:nth-child(3) { background-color: #ffff99; } // 노랑 계열
    &:nth-child(4) { background-color: #ccff99; } // 연두 계열
    &:nth-child(5) { background-color: #99ccff; } // 파랑 계열
    &:nth-child(6) { background-color: #cc99ff; } // 보라 계열
}
